//
 * Rule the words! KKuTu Online
 * Copyright (C) 2024~ Studio Moremi(op@kkutu.store)
doctype html
html
  head
    title 메인 페이지
    link(rel="stylesheet" href="/styles/main.css")
  body
    header
      h1 게임 메인 페이지
    section
      button(id="start-game") 게임 시작
      a(href="/login") 로그인
