doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/styles.css")
  body
    h1 Welcome to My Project
    a(href="/login") 로그인
    a(href="/admin?password=test") 어드민 페이지
