//
 * Rule the words! KKuTu Online
 * Copyright (C) 2024~ Studio Moremi(op@kkutu.store)
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="icon", type="image/x-icon", href="/favicon.ico")
    script(src="/js/sound.js")
  body
    block content
