doctype html
html
  head
    title 모레미끄투 - 메인
    link(rel="stylesheet", href="../public/styles/kkutu.css")
    link(rel="stylesheet", href="../public/styles/portal.css")
    script(src="../public/js/main.js")
  body
    header#portal-header
      h1.text-xl.font-bold 모레미끄투
      .menu.flex.items-center.space-x-4
        if loggedIn
          span.text-sm 닉네임: #{user.nickname} | 레벨: #{user.level}
          a(href="/logout").btn 로그아웃
        else
          a(href="/login").btn 로그인
    main#portal-main
      section#updates
        h2.text-lg.font-semibold 업데이트 사항
        p 2024-12-14: 새로운 끝말잇기 기능 추가!
        p 2024-12-01: UI 업데이트 및 안정성 개선.
      section#game-start
        button(class="btn w-full") 게임 시작
        button#btn-recommendation(class="btn mt-4") 권장 사양
        button#btn-download(class="btn mt-2") 클라이언트 다운로드
    footer#portal-footer
      | Copyright (C) 2024~ Studio Moremi. 스튜디오 모레미 모든 권리 보유.
