body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7fafc;
}

header {
  background-color: #ffffff;
  color: black;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
}

.navbar-left a,
.navbar-center a,
.navbar-right a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right span {
  margin-right: 16px;
}

.navbar-left a:hover,
.navbar-center a:hover,
.navbar-right a:hover {
  color: #3182ce;
}

.event-area {
  width: 100%;
  background-color: #eef;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

.event-area img {
  width: 80%;
  max-width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 8px;
}

.event-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #3182ce;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.event-arrow.left {
  left: 10px;
}

.event-arrow.right {
  right: 10px;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 40px 10%;
}

.announcement {
  width: 48%;
  background-color: #eef;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.announcement h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.announcement-iframe {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 게임 시작 박스 */
.game-start-box {
  text-align: center;
  width: 48%;
}

#start-game-button {
  background-color: #3182ce;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}

#start-game-button:hover {
  background-color: #2b6cb0;
}

.info-buttons {
  display: flex;
  justify-content: space-between;
}

.info-button {
  background-color: #edf2f7;
  color: #2d3748;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 5px;
  width: 48%;
  cursor: pointer;
}

.info-button:hover {
  background-color: #e2e8f0;
}

#nickname-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

#nickname-modal .bg-white {
  width: 33%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#nickname-modal h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

#nickname-modal p {
  font-size: 0.875rem;
  color: #718096;
  margin-bottom: 10px;
}

#nickname-modal input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

#nickname-modal button {
  padding: 10px 20px;
  background-color: #48bb78;
  color: white;
  border: none;
  border-radius: 5px;
}

#nickname-modal button:hover {
  background-color: #38a169;
}

footer {
  background-color: #2b6cb0;
  color: white;
  padding: 20px;
  text-align: center;
}
