
.announcement {
  width: 60%;
  background-color: #eef;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.announcement h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.announcement-iframe {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
